h1{
  color: #FFF;
  font-size: 24px;
  margin: 3% 0% 5% 5%;
}

body{
  background-color: #121212;
}

p{
  color: #FFF;
}

div::-webkit-scrollbar {
  width: 8px;
}

div::-webkit-scrollbar-track {
  background: #f1f1f1;
}

div::-webkit-scrollbar-thumb {
  background: #ffd441;
}

div::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#content{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#instruction{
  margin: 3% 0% 0% 0%;
}

#allWords{
  display: flex;
  flex-flow: row wrap;
  padding: 0px 20px 0px 0px;
  margin: 2% 5% 0% 0%;
  width: 45%;
  height: 600px;
  overflow-y: scroll;
}

#sentenceSection{
  width: 55%;
  margin: auto 5%;
  /* overflow: auto; */
}

#sentence{
  display: flex;
  flex-flow: row wrap;
}

#button{
  margin-top: 5%;
}

.popo{
  padding: 5px 15px 5px 15px;
  margin: 5px 10px 0px 0px;
  background-color: #ffd441;
  color: #111;
}

.word{
  padding: 5px 15px 5px 15px;
  margin: 5px;
  background-color: #FFFFFF;
}

.clicked{
  /* display: none; */
  /* color: red; */
}
