/* @font-face {font-family: "GT America Extended Black";
  src: url("fonts/1eb5591e6d07fc6d6141d5bedbb9eb2f.eot");
  src: url("fonts/1eb5591e6d07fc6d6141d5bedbb9eb2f.eot?#iefix") format("embedded-opentype"),
  url("fonts/1eb5591e6d07fc6d6141d5bedbb9eb2f.woff2") format("woff2"),
  url("fonts/1eb5591e6d07fc6d6141d5bedbb9eb2f.woff") format("woff"),
  url("fonts/1eb5591e6d07fc6d6141d5bedbb9eb2f.ttf") format("truetype"),
  url("fonts/1eb5591e6d07fc6d6141d5bedbb9eb2f.svg#GT America Extended Black") format("svg");
} */
/* @font-face {
    font-family: 'TiemposText';
    src: url('TiemposText.eot');
    src: url('TiemposText.eot?#iefix') format('embedded-opentype'),
        url('TiemposText.woff2') format('woff2'),
        url('TiemposText.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */
body {
  background-color: #121212;
  font-size: 16px;
  width: 92%;
  margin: auto;
  -webkit-font-smoothing: antialiased;
}

h1 {
  /* font-family: 'GT America Extended Black'; */
  font-family: 'Archivo Black', sans-serif;
  color: #ffd441;
  font-size: 18px;
  letter-spacing: 0.04em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

h2 {
  /* font-family: 'GT America Extended'; */
  font-family: 'Archivo Black', sans-serif;
  font-size: 40px;
  letter-spacing: 0.04em;
  line-height: 1.2;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 10px;
}

p {
  /* font-family: 'TiemposText'; */
  font-family: 'Neuton', serif;
  font-weight: 400;
  font-size: 19px;
  letter-spacing: 0.02em;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
}

#header {
  margin-top: 2%;
}

#sections {
  display: flex;
  flex-direction: column;
}

/* Part 1: intro */
#topDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

#introDiv {
  margin: 1% 0% 5% 0%;
  display: inline-flex;
  position: relative;
  /* display: flex;
  flex-direction: row; */
}

#vidDiv:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(to left, rgba(10, 10, 10, 0.4), rgba(10, 10, 10, 0.8));
}

#vidDiv {
  left: 0%;
  top: 0%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

#vidDiv video{
  width:100%;
}

#text1{
  position: absolute;
  top: 35%; right: 0; bottom: 0; left: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 40%;
  margin-left: 5%;
}

/* #text1 {
  z-index: 999;
  position: absolute;
  top: 100px;
  width: 40%;
  margin-left: 5%;
  display: flex;
  margin-top: 15%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
} */

#introText {
  line-height: 1.8;
}

/* Part 2: method */
#methodDiv {
  margin: 0% 0% 5% 5%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

#methodHead-mobile {
  display: none;
}

#text2 {
  margin-right: 5%;
  width: 90%;
  line-height: 1.8;
}

#sampleDiv {
  width: 100%;
}

#sample {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 20% 0% 0% 0%;
}

.sample {
  display: none;
  font-size: 22px;
  padding: 5px 15px 5px 15px;
  margin: 20px 0px 0px 20px;
  background-color: #FFFFFF;
}

#arrow {
  width: 6%;
  margin: 0 auto 0 auto;
}

#begin {
  margin: 0 auto;
}

#beginButton {
  border: none;
  background-color: inherit;
  color: #ffd441;
  padding: none;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
}

/* Part 3: create */
#createDivWrapper {
  display: none;
}

#createDiv {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* align-items: baseline; */
  margin: 5% 5% 5% 5%;
}

#create {
  display: flex;
  flex-direction: column;
}

#instruction {
  width: 90%;
  margin: 5% 0% 10% 0%;
}

#wordlist{
  display: none;
}

#allWordsDiv {
  width: 48%;
}

#allWords {
  display: flex;
  flex-flow: row wrap;
  padding: 0px 20px 0px 0px;
  margin: 2% 0% 0% 0%;
  height: 600px;
  overflow-y: scroll;
  justify-content: center;
}

#sentenceSection {
  width: 55%;
  /* margin: auto 4% auto 0%; */
  /* overflow: auto; */
}

#sentence {
  display: flex;
  flex-flow: row wrap;
}

#button {
  margin-top: 10%;
}

#submit {
  font-family: 'Archivo Black', sans-serif;
}

#button-mobile {
  display: none;
}

.popo {
  font-size: 20px;
  padding: 5px 15px 5px 15px;
  margin: 5px 10px 5px 0px;
  background-color: #ffd441;
  color: #111;
}

.word {
  padding: 5px 15px 5px 15px;
  margin: 16px 12px 0px 0px;
  background-color: #FFFFFF;
  cursor: pointer;
  /* border: 1px solid #AAAAAA; */
  /* border-bottom: 1px solid #222222;
  border-right: 1px solid #222222; */
}

.greyOut{
  opacity: 0.1;
}

.clicked {
  font-size: 20px;
  margin: 5px 10px 5px 0px;
  /* display: none; */
  /* color: red; */
}

button, input[type="submit"] {
  /* border: 1px solid #FFF; */
  border: none;
  color: #FFF;
  background-color: #282828;
  padding: 20px 60px;
  font-size: 18px;
  cursor: pointer;
}

.button:hover {
  background-color: #ffffff;
  color: #121212;
}

div::-webkit-scrollbar {
  width: 8px;
}

div::-webkit-scrollbar-track {
  background: #282828;
}

div::-webkit-scrollbar-thumb {
  background: #ffd441;
}

div::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#resultDiv{
  display: none;
  margin: 0% 0% 5% 5%;
}

#result{
  margin-top: 2%;
  font-family: 'Archivo Black', sans-serif;
  font-size: 22px;
  line-height: 1.8;
  color: #ffd441;
}

.lineY{
  color: #FFF;
}

#back{
  margin-top: 5%;
  font-family: 'Archivo Black', sans-serif;
  padding: 20px 60px;
}

#creditDiv {
  margin-bottom: 3%;
  display: none;
}

.credit {
  margin: auto;
  width: 70%;
  font-size: 14px;
  line-height: 1.8;
}

#grey {
  color: #555;
}

a {
  color: #ffd441;
}

a:hover {
  color: #fff;
}

/* ----------- Tablets ----------- */

@media only screen and (min-width: 769) and (max-width: 1024px){
  h2 {
    /* font-family: 'GT America Extended'; */
    font-family: 'Archivo Black', sans-serif;
    font-size: 36px;
    letter-spacing: -0.02em;
    line-height: 1.2;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
  }

  p {
    /* font-family: 'TiemposText'; */
    font-family: 'Neuton', serif;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.02em;
    color: #FFF;
  }

  #introDiv{
    margin-bottom: 2%;
  }

  #text1{
    top: 80px;
    width: 60%;
  }

  #methodDiv{
    margin-bottom: 2%;
  }

  #text2{
    margin-top: 0%;
    width: 180%;
  }

  #sample{
    margin-top: 40%;
    width: 100%;
  }

  #arrow{
    width: 10%;
  }

  #resultDiv{
    margin: auto auto 10% auto;
    width:90%;
  }

  .credit {
    margin: auto;
    width: 70%;
    font-size: 12px;
    line-height: 1.4;
  }
}


/* ----------- Phones ----------- */
@media only screen and (max-width: 768px) {
  h1 {
    /* font-family: 'GT America Extended Black'; */
    font-family: 'Archivo Black', sans-serif;
    color: #ffd441;
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 1.3;
    width: 80%;
    margin: auto;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }

  h2 {
    /* font-family: 'GT America Extended'; */
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
    letter-spacing: -0.02em;
    line-height: 1.2;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
  }

  p {
    /* font-family: 'TiemposText'; */
    font-family: 'Neuton', serif;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.02em;
    color: #FFF;
  }

  #header {
    margin: 6% auto 0% auto;
  }

  /* Intro*/
  #introDiv {
    display: flex;
    flex-direction: column;
    margin-top: 0%;
  }

  #vidDiv {
    width: 100%;
    z-index: auto;
    margin-top: 0%;
  }

  #vidDiv:before {
    content: "";
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: auto;
    background: none;
  }

  #text1 {
    z-index: auto;
    position: relative;
    top: 0;
    width: 90%;
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  #introText {
    width: 100%;
    justify-content: center;
  }

  /* Method */
  #methodDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
  }

  #text2 {
    text-align: center;
    margin: auto;
    margin-top: 5%;
  }

  #methodText {
    margin: auto;
  }

  #methodHead-mobile {
    display: block;
    order: 1;
  }

  #methodHead {
    display: none;
  }

  #methodDiv :nth-child(1) {
    order: 1;
  }

  #methodDiv :nth-child(2) {
    order: 3;
  }

  #methodDiv :nth-child(3) {
    order: 2;
  }

  .sample {
    display: none;
    font-size: 18px;
    padding: 5px 15px 5px 15px;
    margin: 15px 8px 0px 8px;
    background-color: #FFFFFF;
  }

  #sample {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0% 0% 5% 0%;
  }

  #arrow {
    margin-top: 8%;
    width: 20%;
  }

  /* Create Sentence */
  #createDiv {
    display: flex;
    flex-direction: column;
  }

  #instruction {
    text-align: center;
    width: 100%;
    margin-bottom: 2%;
  }

  #sentenceSection {
    width: 100%;
    text-align: center;
    background-color: #282828;
    padding-top: 5%;
    padding-bottom: 60%;
    /* overflow: auto; */
  }

  #sentence {
    justify-content: center;
  }

  .popo {
    font-size: 20px;
    padding: 5px 15px 5px 15px;
    margin: 5px 5px 5px 5px;
    background-color: #ffd441;
    color: #111;
  }

  #wordlist{
    margin-top: 6%;
    display: block;
    color: #FFF;
    text-align: center;
  }

  #allWordsDiv {
    width: 100%;
  }

  #allWords {
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    padding: 5px 10px 0px 0px;
    margin: 5% 0% 2% 0%;
    height: 200px;
    overflow-y: scroll;
    justify-content: center;
  }

  .word {
    padding: 5px 15px 5px 15px;
    margin: 10px 10px 10px 8px;
    background-color: #FFFFFF;
    cursor: pointer;
    /* border: 1px solid #AAAAAA; */
    /* border-bottom: 1px solid #222222;
      border-right: 1px solid #222222; */
  }

  div::-webkit-scrollbar {
    width: 6px;
  }

  #button {
    display: none;
  }

  #button-mobile {
    display: block;
    margin: 10% auto;
  }

  #submit-mobile {
    padding: 20px 60px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 18px;
  }

  #resultDiv{
    margin: auto auto 15% auto;
    width:90%;
    text-align: center;
  }

  #result{
    margin: 10% auto 10% auto;
    font-size:18px;
  }

  /* Credit */
  #creditDiv {
    margin-bottom: 10%;
  }

  .credit {
    font-size: 12px;
    line-height: 1.4;
  }
}

/* ----------- Small Phones ----------- */
@media only screen and (max-width: 568px) {
  h2 {
    /* font-family: 'GT America Extended'; */
    font-family: 'Archivo Black', sans-serif;
    font-size: 26px;
    letter-spacing: -0.05em;
    line-height: 1.2;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
  }

  #submit-mobile {
    padding: 20px 60px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 16px;
  }

  #sentenceSection {
    width: 100%;
    text-align: center;
    background-color: #282828;
    padding-top: 5%;
    padding-bottom: 40%;
    /* overflow: auto; */
  }

  #result{
    line-height: 1.5;
  }
}
